/*
  ========================================
  first breakpoint
  ========================================
*/
@media (min-width: 600px) {

}
/*
  ========================================
  Navigation
  ========================================
*/

.logo img{
  width: 45px;
}
.nav {
  text-align: center;
  margin-top: -60px;
}
.nav a {
  text-decoration: none;
    color: white;
}
.nav a:hover {
  border-bottom: 3px solid white;
}
.nav li {
  vertical-align: top;
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 10px;

}
.social-media {
  float: right;
  margin-top: -40px;
  font-size: 13px;

}
.social-media i{
  padding-left: 3px;
  padding-right: 3px;
}
body{
  background: #352D2F;
}
.social-media {
  color:white;

}
#transform{
  text-transform: uppercase;
}
.col-sm-12 {
  padding-top: 40px;
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: 'Play', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#explore {
  text-transform: uppercase;
  font-size:20px;
  width: 230px;
  height: 20px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  position: absolute;
  top: 50%;
  left:50%;
  margin-top:5px;
  margin-left:-100px;
  background: white;
  color:black;
  border-color: white;
}

.dots {
    width: 100%;
}
.dots:after {
    content: "";
    display: table;
    clear: both;
}

.sec {
    text-align: center;
    margin-top: 20px;
    padding: 0px;
    display: inline-block;
}

.hidden {
    visibility: hidden;

}
.blurred{
  visibility: hidden;
}

.full {
    display: inline-block;
    width: 35px;
    border-bottom: 5px solid white;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}

.hr:first-child {
    display: inline-block;
    width: 35px;
    border-bottom: 5px solid #fff;
}


.col-sm-6 {
  background: white;

}
.column-left {
  float: left;
  width: 33%;
}
.column-right {
  float: right;
  width: 33%;
}
.column-center {
  display: inline-block;
  width: 33%;
}
.column{
  display: inline-block;
}
#discover {
  text-transform: uppercase;
  font-size:20px;
  width: 230px;
  height: 20px;
  padding: 10px;
  border: 5px solid red;
  margin-top: 400px;
  position: absolute;
  top: 50%;
  left:50%;
  margin-left:-400px;
  background: red;
  color:white;

}

.blank {
    background: 4b3939;
    height: 250px;

}

.discover {
    background: #fff;
    height: 145px;


}

.btn {
    background: red;
    border-radius: 4px;
    color: #4b3939;
    color:white;
    cursor: pointer;
    display: inline-block;
    margin-top:20px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border: 1px solid ;
    padding: 10px 20px;
}
.btn-alt {
    position: absolute;
    left: 200px;
}

.discover p {
    margin: 0px;
    
}
.col-left{
  background-color: #fff;
  float:left;
  width:50%;
  height:400px;
}
.col-left p {
  padding-left: 200px;
  padding-top: 100px;
}
.col-left span {
  padding-left: 200px;
  font-size: 70px;
}

.col-right{
  text-align: left;
  background-color: red;
  float:left;
  width:50%;
  height:400px;
  padding-top: 450px;
  color:#fff;
}

.col-right h2{
  font-family: 'Play';
  font-size: 46px;
}
.col-rigth p {
  font-family: 'raleway';
  font-size: 28px;
}
